*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: #f8f9fa;
}

h1, h2, h3, h4 {
  color: #343940;
}

p {
  color: #6c757d;
}

input:focus-visible {
  outline: none;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
}

.btn--primary {
  background-color: #0b6efd;
  color: #ffffff;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #ffffff;
}

.card--header {
  border-radius: 1rem 1rem 0 0;
  padding: 2rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-between {
  justify-content: space-between;
}

.h-100-vh {
  height: 100vh;
}

.h-54-px {
  height: 54px;
}

.w-100 {
  width: 100%;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.d-block {
  display: block;
}

.position-fixed {
  position: fixed;
}

.bottom-0 {
  bottom: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: calc(1.305rem + .66vw);
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.text-center {
  text-align: center;
}

.color-blue {
  color: #0b6efd;
}

.text-decoration-none {
  text-decoration: none;
}

.color-black {
  color: #000000;
}

.font-size-xs {
  font-size: 0.8rem;
}

.input {
  border-radius: 2rem;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);
  padding: 0.75rem 1rem;
  width: 80%;
  font-size: 1rem;
}

nav {
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.icon {
  width: 25px;
}

/*# sourceMappingURL=main.css.map */
