.card
  border-radius: 1rem
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%)
  border: none
  background-color: $white

.card--header
  border-radius: 1rem 1rem 0 0
  padding: 2rem 2rem
  background-color: $white
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%)

.card--icon-m
  width: 40px

.card--icon-s
  width: 20px