.h-100-vh
  height: 100vh

.h-54-px
  height: 54px

.w-100
  width: 100%

.pt-1
  padding-top: 1rem

.pb-1
  padding-bottom: 1rem

.px-1
  padding-left: 1rem
  padding-right: 1rem

.py-1
  padding-top: 1rem
  padding-bottom: 1rem

.mt-1
  margin-top: 1rem

.mb-1
  margin-bottom: 1rem

.mx-1
  margin-left: 1rem
  margin-right: 1rem

.my-1
  margin-top: 1rem
  margin-bottom: 1rem

.d-block
  display: block

.position-fixed
  position: fixed

.bottom-0
  bottom: 0