body
  font-family: 'Montserrat', sans-serif

h1
  font-size: calc(1.305rem + .66vw)

.uppercase
  text-transform: uppercase
  letter-spacing: 0.1em

.text-center
  text-align: center

.color-blue
  color: $brandeisblue

.text-decoration-none
  text-decoration: none

.color-black
  color: $black

.color-grey
  color: $ravengrey

.color-green
  color: $chateaugreen

.color-red
  color: $jasperred

.font-bold
  font-weight: bold

.font-size-xs
  font-size: 0.8rem

.font-size-m
  font-size: 1rem

.font-size-l
  font-size: 1.5rem