body
  font-family: 'Montserrat', sans-serif

.uppercase
  text-transform: uppercase
  letter-spacing: 0.1em

.text-center
  text-align: center

h1
  font-size: calc(1.305rem + .66vw)

.color-blue
  color: $brandeisblue

.text-decoration-none
  text-decoration: none